<!-- <div>
    <h3>
        Server-side Paging
        <small>
            <a href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/paging/paging-scrolling-novirtualization.component.ts"
                target="_blank">
                Source
            </a>
        </small>
    </h3>
    <ngx-datatable class="material" [rows]="rows"
        [columns]="[{ CodigoExterno: 'Codigo Externo' }, { Nombre: 'Nombre' }, { CodigoEstado: 'Codigo Estado' }, { FechaCierre: 'Fecha Cierre' }]" [columnMode]="ColumnMode.force"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [virtualization]="false"
        [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
        (page)="setPage($event)">
    </ngx-datatable>
</div> -->
